* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html {
    /* overflow-x: hidden; */
}

header {
    height: 100px;
    background-color: gray;
    padding: 10px 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: aquamarine;
}

.menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 00.4s;
}

.menu a:hover {
    color: aquamarine;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.mostrar-menu:hover,
.esconder-menu:hover {
    color: aquamarine;
}

#check {
    display: none;
}

section {
    padding: 0 50px;
}

#banner {
    padding: 0 50px;
    background-image: url(Rosario-desde-el-Rio2.jpg);
    height: 45vh;
    margin: auto;
    background-size: cover;
    background-position: center;
}

#banner::before {
    content: '';
    position: absolute;
    width: 89%;
    height: 45vh;
}

#valores {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#valores div {
    padding: 30px 30px;
}

#valores div h4 {
    color: black;
    font-size: 20px;
    margin: 15px 0px;
}

#valores div p {
    color: black;
    font-size: 15px;
    margin: 15px 0px;
}

#valores div a {
    color: blue;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border: solid rgb(0, 43, 0);
}

.contenido-banner {
    position: relative;
    color: rgb(0, 92, 104);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton {
    text-decoration: none;
    color: rgb(0, 120, 136);
    border: solid aquamarine;
    padding: 20px 40px;
    align-self: baseline;
}

.boton:hover {
    background-color: aquamarine;
    transition: 0.5s;
}

.contenido-banner h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}

.contenido-banner h3 span {
    font-weight: 600;
}


/* -------------------------------- */

@media(max-width: 768px) {
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: gray;
        right: -190%;
        top: 0%;
        text-align: center;
        z-index: 100;
        padding: 100px 0;
        transition: 1s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked~.menu {
        right: 0;
    }
    .contact_form {
        position: relative;
        width: 60vw;
    }
    .formulario {
        position: absolute;
        width: 60vw;
        left: -5%;
    }
}

.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

label {
    display: block;
    float: center;
}

button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ab4493;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}

button p {
    color: #fff;
}

.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #ab4493;
}

h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}

p {
    font-size: 14px;
    color: #0e0e0e;
}

.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}