* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Content box no. El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente.*/
}

body {
    font-family: 'Roboto Mono', monospace;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 2, 100);
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.brand span {
    color: yellow;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /*Separar las letras de la lista del menú de navegación*/
    padding: 2em;
    /*Establece un espacio de separacion en relacion al tamaño de la tipografía*/
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    /*Espacio entre elementos del menu*/
}

.menu li {
    list-style: none;
}

.menu .active {
    color: yellow
}

.menu a:hover {
    background-color: rgb(56, 139, 145);
    color: rgb(2, 2, 100);
    transition: ease-in .4s;
    /*.4s es para hacer un delay dentro de la transición como una especie de animación*/
}

.brand {
    margin-top: -7px;
}

img {
    width: 250px;
    height: 350px;
}