/* Hago un reset de todo */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}


/* Elimino la barra horizontal, aunque no es necesario */

html {
    overflow-x: hidden;
}

<<<<<<< Updated upstream

/* Header que es flex con una altura determinada en px con espacio entre los objetos dentro y con align items
en el responsive  */

header {
    height: 100px;
    background-color: gray;
    padding: 10px 50px;
=======
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(56, 139, 145);
>>>>>>> Stashed changes
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* La palabra Yahoo porque no sabia que poner de logo la verdad */

.logo {
    text-transform: uppercase;
    color: aquamarine;
}


/* Enlaces del menu con transicion*/

.menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 00.4s;
}


/* Cambio de color */

.menu a:hover {
    color: aquamarine;
}


/* La etiqueta que me permitira abrir y cerrar el menu */

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}


/* Cambio de color en la hamburguesa cuando se muestra */

.mostrar-menu:hover,
.esconder-menu:hover {
    color: aquamarine;
}


/* Ocultar el input que realiza la acción */

#check {
    display: none;
}

<<<<<<< Updated upstream

/* Ajusto para que se vea cuadriculado */

section {
    padding: 0 50px;
=======
.brand span {
    color: rgb(228, 83, 0);
>>>>>>> Stashed changes
}


/* Uso una foto de fondo para mostrar como un branding con un boton y con cover 
en background size/position hago que se adapte */

#banner {
    padding: 0 50px;
    background-image: url(Rosario-desde-el-Rio2.jpg);
    height: 45vh;
    margin: auto;
    background-size: cover;
    background-position: center;
}

.contenido-banner {
    position: relative;
    color: rgb(0, 92, 104);
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Ajusto todos los elementos a sus bases */

.boton {
    text-decoration: none;
    color: rgb(0, 120, 136);
    border: solid aquamarine;
    padding: 20px 40px;
    align-self: baseline;
}


/* Diferentes complementos al aspecto */

.boton:hover {
    background-color: aquamarine;
    transition: 0.5s;
}

.contenido-banner h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}

.contenido-banner h3 span {
    font-weight: 600;
}


/* Ajusto dos iconos con dos botones con flex los centro y posteriormente con el padding lo maqueto y complemento en las siguientes acciones*/

#valores {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#valores div {
    padding: 30px 30px;
}

<<<<<<< Updated upstream
#valores div h4 {
    color: black;
    font-size: 20px;
    margin: 15px 0px;
}

#valores div p {
    color: black;
    font-size: 15px;
    margin: 15px 0px;
=======

.menu a:hover {
    background-color: rgb(0, 1, 70);
    color: rgb(226, 226, 226);
    transition: ease-in .4s;
    /*.4s es para hacer un delay dentro de la transición como una especie de animación*/
>>>>>>> Stashed changes
}

#valores div a {
    color: blue;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border: solid rgb(0, 43, 0);
}


/* Estilos del formulario */

.contact_form {
    width: 460px;
    height: auto;
    /* Lo centro y le doy margenes para el futuro diseño responsive */
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


/* Block para poner una cosa debajo de la otra y que quede centrado dentro de la propia estructura del formulario */

label {
    display: block;
    float: center;
}


/* Estilos al boton */

button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ab4493;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    /* Cambio el cursor a la mano de pulsar o no se como decirlo */
    cursor: pointer;
}

button p {
    color: #fff;
}

.aviso {
    font-size: 13px;
    color: #0e0e0e;
}


/* Cabecera del formulario */

h1 {
    font-size: 39px;
    text-align: left;
    padding-bottom: 20px;
    color: #ab4493;
}


/* Color de fondo con flex para evitar errores en el responsive */

#Fondosec {
    background-color: gray;
    display: flex;
}


/* Subtitulo */

h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}

p {
    font-size: 14px;
    color: #0e0e0e;
}


/* Cambio el color de los bordes dentro de las cajas de texto */

.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}


/* Footer grid */

footer {
    height: 40vh;
    background-color: #ab4493;
}


/* Contenedor grid con  tres columnas y las filas indeterminadas por lo que será una.
Dejo espacios a los lados de las cajas*/

.container-grid {
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
}


/* Estilos dentro del grid para cuadrar los elementos */

.container-grid h4 {
    margin-top: 5%;
    text-align: center;
}

.container-grid img {
    margin: auto;
    display: block;
}

.container-grid p {
    text-align: center;
    margin: auto;
    margin-top: 3%;
}


/* --------------------------------
--------------------------------------
---------------------------------------
----------------------------------------
-------------VERSION MOVIL---------------
--------------------------------------
-----------------------------------
---------------------------------*/


/* Lo he probado con las herramientas de mozilla */

@media(max-width: 375px) {
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    /*Traigo de la derecha de la pagina al pulsar la etiqueta y lo pongo que ocupe toda la panta y que cuando se pulse la x se cierre el menu. El display block para que los enlaces se coloquen correctamente con una transicion de 1 segundo*/
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: gray;
        right: -190%;
        top: 0%;
        text-align: center;
        z-index: 100;
        padding: 100px 0;
        transition: 1s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 20px;
    }
    #check:checked~.menu {
        right: 0;
    }
    /* Aquí terminan los elementos del menu responsive que tengo que investigar algo más para entender como se consigue el efecto a traves de una pseudo animacion con la etiqueta */
    /* ---------------------------- */
    /* Estilos del formulario responsive */
    .contact_form {
        position: relative;
        width: 60vw;
    }
    /* Aqui me encontre con un problema claro entre el descuadre de la section con el formulario que solvento en el siguiente media query */
    .formulario {
        width: 100vw;
        height: 100vh;
    }
    #Fondosec {
        background-color: gray;
        display: flex;
        height: 100vh;
    }
    /* Ajusto tamaños en el formulario y en el grid*/
    input,
    textarea,
    #enviar {
        width: 70vw;
    }
    .container-grid {
        width: 100%;
        height: 30vh;
    }
    footer {
        height: 70vh;
        background-color: #ab4493;
    }
}

@media(max-width: 768px) {
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    /* Lo mismo que arriba */
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: gray;
        right: -190%;
        top: 0%;
        text-align: center;
        z-index: 100;
        padding: 100px 0;
        transition: 1s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked~.menu {
        right: 0;
    }
    #Fondosec {
        background-color: gray;
        height: 170vh;
        position: relative;
    }
    .contact_form {
        width: 60vw;
    }
    /* Tuve muchos problemas para colocar un formulario dentro de la caja que le tenía asignada. por lo que tuve que aumentar y maquetar los elementos dentro de los espacios ya en un principio el grid del footer se superponía, pero eso era porque los tamaños no eran correctos y surgian incompatibilidades entre secciones.*/
    .formulario {
        width: 50vw;
        height: 149vh;
        position: absolute;
        margin: auto;
        left: 5%;
    }
    input,
    textarea,
    #enviar {
        width: 68vw;
    }
    footer {
        height: 50vh;
        background-color: #ab4493;
    }
    .container-grid {
        width: 100%;
        height: 30vh;
    }
}